.project {
    padding: 26px;
    border-radius: 10px;
    color: white;
}
.text {
    margin-bottom: 22px;
}
.text .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}
.text .description {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 350;
}
.tags {
    display: flex;
    gap: 18px;
}

.tags>div {
    display: flex;
    gap: 6px;
    font-size: 16px;
}
